:root {
  background-color: #f4f4f5;
  max-width: 1280px;
  margin: 0 auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient {
 color: #0d0d0d; 
 background-image: linear-gradient(45deg, #0d0d0d 48%, #808080 54%); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
  }
}
